
@{
	ViewBag.Title = "Список пользователей";
}

<div class="container body-content">
	<h2>Список пользователей</h2>

	@using (Ajax.BeginForm("ListOfUsers", "Manage", new AjaxOptions { UpdateTargetId = "table", Url = Url.Action("TableData") }, htmlAttributes: new { @id = "myForm" }))
	{
		<input type="text" name="UserEmail" form="myForm" class="search" placeholder="Введите email пользователя" style="width: 450px" />
		<input type="submit" value="Поиск" class="btn btn-info" />

		<br />

		<table class="table table-bordered table-hover" style="margin-top: 20px;">
			<tr>
				<th>
					@Html.DisplayName("Email")
				</th>
				<th></th>
			</tr>

			<tbody id="table">
				@Html.Action("TableData", new { NickName = Model })
			</tbody>

		</table>
	}

</div>
